.turnKeep {
  color: gold;
  background-color: purple;
  text-align: center;
  line-height: 40px;
  width: 750px;
  margin: 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

.space {
  width: 12.5%;
  height: 12.5%;
}

.playerOne {
  border: 3px solid blue;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: darkblue;
  border-radius: 50%;
  line-height: 80px;
}

.playerTwo {
  border: 3px solid green;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: darkgreen;
  border-radius: 50%;
  line-height: 80px;
}

#clicked {
  background: white;
}
