.board {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

.space {
  width: 12.5%;
  height: 12.5%;
  color: white;
}

.playerOne {
  border: 3px solid blue;
  padding: 30px;
  background: darkblue;
  border-radius: 50%;
}

.playerTwo {
  border: 3px solid green;
  padding: 30px;
  background: darkgreen;
  border-radius: 50%;
}
