.board {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

.space {
  width: 12.5%;
  height: 12.5%;
  color: white;
}

.playerOne {
  border: 3px solid blue;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: darkblue;
  border-radius: 50%;
}

.playerTwo {
  border: 3px solid green;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: darkgreen;
  border-radius: 50%;
}

#clicked {
  background: white;
}
